footer
  footer.page-footer
    .container
      .row
        .col.l6.s12
          h5.white-text Footer Content
          p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
        .col.l4.offset-l2.s12
          h5.white-text Links
          ul
            li
              a.grey-text.text-lighten-3(href='#!') Link 1
    .footer-copyright
      .container
        marquee(id='slider' behavior='scroll', direction='left' scrollamount='12')