header
  .navbar-fixed(style='margin-bottom: 2rem;')  
    nav
      .nav-wrapper(style='background-color: royalblue;')
        a.brand-logo(href='/') PharmaSearch
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a(href='/search' style='margin-right: 1rem;') Type-Search
          li
            a(href='#' style='margin-right: 1rem;') About