header
  .navbar-fixed(style='margin-bottom: 2rem;')  
    nav
      .nav-wrapper(style='background-color: royalblue;')
        a.brand-logo(href='#') PharmaSearch
        ul#nav-mobile.right.hide-on-med-and-down
          li
          a(href='#' style='margin-right: 2rem;') About