// Import Google Icon Font
link(href='https://fonts.googleapis.com/icon?family=Material+Icons&display=swap', rel='stylesheet')
// Compiled and minified CSS
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
// My very own great CSS
link(rel='stylesheet', href='css/style.css')
// Let browser know website is optimized for mobile
meta(name='viewport', content='width=device-width, initial-scale=1.0')
// Optional Font Style
link(href='https://fonts.googleapis.com/css2?family=Russo+One&display=swap', rel='stylesheet')
// Favicons
link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
link(rel='manifest', href='/img/favicon/site.webmanifest')