doctype html
html(lang='en')
    head
      title PharmaSearch || Report an Error
      meta(name='Description', content='Submit studies you wish to be in our website. We will revise the submissions and add them into our database as soon as possible.')
      include includes/head.pug
    body
      include includes/header.pug
      main
        .container
          .row
            form.col.s12(action='/addStudy', method='post')
              .row
                .input-field.col.s12
                  textarea#title.materialize-textarea(name='title')
                  label(for='title') Study Title
                .input-field.col.s12
                  textarea#studyUrl.materialize-textarea(name='studyUrl')
                  label(for='studyUrl') Study URL (strongly advised)
                .input-field.col.s12
                  textarea#studyDetails.materialize-textarea(name='studyDetails')
                  label(for='studyDetails') Details (optional)
                .input-field.col.s12
                  input#email.validate(type='email', name='email')
                  label(for='email') Your E-Mail (optional)
                  span.helper-text(data-error='Please check your mail again', data-success='')
              .row(style="margin-top: -1.5rem;")
                #chips.chips.chips-autocomplete(style="margin-left: 0.5rem; margin-right: 0.5rem;")
              .row  
                button#addStudy.col.s2.waves-effect.waves-light.btn.offset-s4(style='border-radius: 12px; width: 25%; background-color: royalblue;', type='submit' name="addStudy")
                    | Submit for Review
                    i.material-icons.right library_add
          .row.center-align
            p#add.col.s12(style="font-weight: bold; color: darkslateblue;")= StudyAdd
            #spinner.col.s5.offset-s5(style="display: none;")
              .spinner-dual
                .spinner-dual
      include includes/footer.pug
    // Compiled and minified JavaScript
    script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
    script(src='js/jquery.paginate.js')
    script(src='https://cdn.jsdelivr.net/npm/typed.js@2.0.11')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    // MY SCRIPTS START
    script.
      // MATERIALIZE STUFF
      M.AutoInit();
      document.addEventListener('DOMContentLoaded', function(){
        var options = {
          strings: ['PharmaSear^500.ch'],
          typeSpeed: 100
        };
        var typed = new Typed('#logoType', options); 
      });
      // COOKIE ENGINE START
      function createCookie(name,value,days) {
      if (days) {
      var date = new Date();
      date.setTime(date.getTime()+(days*24*60*60*1000));
      var expires = "; expires="+date.toGMTString();
      }
      else var expires = "";
      document.cookie = name+"="+value+expires+"; path=/";
      }
      function readCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
      }
      function eraseCookie(name) {
      createCookie(name,"",-1);
      }
      // COOKIE ENGINE END

      // READ COOKIE FOR NIGHT MODE
      let checkNight = readCookie('nightMode');
      if (checkNight == null) {
      } else {
        $("main").css("background-color", "darkgray");
        $("header").css("background-color", "darkgray");
        $("footer").css("background-color", "gray");
        $("#addStudy").css("background-color", "darkslateblue");
        $(".nav-wrapper").css("background", "");
        $(".nav-wrapper").css("background-color", "darkslateblue");
      }
      $('#switch').hide();
      // (FAILED TEST) $('#chips::placeholder').css('color', 'red');
      $('.chips-autocomplete').chips({
        placeholder: 'Enter a category',
        secondaryPlaceholder: '+ Category',
        autocompleteOptions: {
          data: {
            'Suggesting a Next Step': null,
            'Students / Young Pharmacists': null,
            'Clinical Trials': null,
            'Education of Health Professionals': null,
            'Drug Recalls': null,
            'Multi-Institutional Study': null,
            'Multidisciplinary Study': null,
            'Regulatory Policies / Audits': null,
            'Antimicrobial Stewardship': null,
            'Administrative Approaches': null,
            'Prescription / Preparation / Application Errors': null,
            'Renal Insufficiency': null,
            'Antimicrobial Resistance': null,
            'Medication Adherence': null,
            'Adverse Drug Events': null,
            'Drug Shortages': null,
            'Social Media': null,
            '3D Printing': null,
            'Mobile / VR Technologies': null,
            'Software Aided Decision Making': null,
            'Cold Chain Management': null,
            'Automated Dispensing': null,
            'Stock / Supply / Distribution': null,
            'Selection / Procurement': null,
            'Questionnaires / Interviews (Health Professionals)': null,
            'Questionnaires / Interviews (Health Professionals)': null,
            'Recommendations to Nurses': null,
            'Interaction with Patients': null,
            'Intervention of Pharmacists': null,
            'Safety / Tolerability Profile Assessment': null,
            'Therapeutic Drug Monitoring': null,
            'Determination of Stability': null,
            'Pharmacovigilance / Materiovigilance': null,
            'Occupational Risk / Safety': null,
            'Cost Analysis': null,
            'Preparing IV Medications': null,
            'Prescription Regulations (e.g., Deprescribing)': null,
            'Switching Medication': null,
            'Flat Doses / Dose Banding': null,
            'Off-Label Use': null,
            'Pain Management': null,
            'Antibiotic Prophylaxis': null,
            'Home Care': null,
            'Gene Therapy': null
          },
        limit: Infinity,
        minLength: 1
        }
      });
      $( ".dropdown-content" ).css('min-width', '40%');
    
      // GET JSON DATA
      var dataReq = new XMLHttpRequest();
      var url = "protected/data/data.json";
      dataReq.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
      console.log('Data loaded with success!');
      }
      };
      dataReq.open("GET", url, true);
      dataReq.send();
      // FOOTER SLIDING DATA
      $( "body" ).one('mouseover', function() {
        setTimeout(function() { 
        let slideData = JSON.parse(dataReq.responseText);
        document.getElementById("slider").innerHTML = `${slideData.length} studies in our database are ready for you to perform your search now!`;
        }, 500);
      });
      // SPINNER TRIGGER
      $("#addStudy").click(function () {
        $('#spinner').css("display", "block");
        setTimeout(function() {
          $('#add').text('Process of your request is taking longer than usual and it will be completed shortly. Thank you for your patience');
          $('#spinner').css("margin-top", "2rem");
        }, 5000);
      });

