doctype html
html
  head
    // Import Google Icon Font
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    // My very own great CSS
    link(rel='stylesheet', href='css/style.css')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    .container
      form.row(action='#')
        .input-field.col.s12.l4(style='margin-top: 2rem; margin-left: 1rem;')
          select(multiple='')#activeSubstance
            option(value='', disabled='') None
            option(value='1') Palbociclib
            option(value='2') Morphine
            option(value='3') Fentanyl
          label Active Substance Focused
        .input-field.col.s12.l4(style='margin-top: 2rem; margin-left: 1rem;')
          select(multiple='')#ward
            option(value='', disabled='') None
            option(value='1') Intensive Care
            option(value='2') Oncology
          label Active Substance Focused
        .switch
          label#rlabel.col.s12.l4(style='margin-top: 1rem; font-weight: bold; font-size: larger; color: steelblue;')
            input#retrospective(type='checkbox')
            span.lever
            | Retrospective
          label#wlabel.col.s12.l4(style='margin-top: 1rem; font-weight: bold; font-size: larger; color: steelblue;')
            input#wardfocused(type='checkbox')
            span.lever
            | Cost Saving
          //  
            label.col.s12(style='margin-top: 1rem; font-weight: bold; font-size: larger; color: steelblue;')
              input(type='checkbox')
              span.lever
              | Active Substance Focused
            label.col.s12(style='margin-top: 1rem; font-weight: bold; font-size: larger; color: steelblue;')
              input(type='checkbox')
              span.lever
              | Includes Economic Outcomes
            label.col.s12(style='margin-top: 1rem; font-weight: bold; font-size: larger; color: steelblue;')
              input(type='checkbox')
              span.lever
              | Requires Physician Collaboration
            label.col.s12(style='margin-top: 1rem; font-weight: bold; font-size: larger; color: steelblue;')
              input(type='checkbox')
              span.lever
              | Pharmacogenetics Focused

      .row(style='margin-top: 2rem;')
        a#search.col.waves-effect.waves-light.btn
          | Search
          i.material-icons.right search
    .container
      #resultRow.row(style='margin-top: 2rem; display: none;')
        #resultText.col.s12.p(style= 'font-size: large;')
        h3.col.s12(style='margin-top: 1rem; font-weight: bold; color: #900C3F;') Results
        ol#resultList
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
    script.
      M.AutoInit();
    script.
      // GET JSON DATA
      var dataReq = new XMLHttpRequest();
      var url = "data/data.json";
      dataReq.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
      console.log('Data loaded with success!');
      }
      };
      dataReq.open("GET", url, true);
      dataReq.send();
    script.
      // SET EMPTY FILTER ARRAY
      let filterArr = [false, false];
      let myData;
      var searchObj = new Object();
      let result;
      let string;
      // MODIFY FILTER ARRAY WITH SPAN.LEVERs
      $( "#retrospective" ).click(function() {
      if (filterArr[0] === false) {
      filterArr[0] = true;
      } else {
      filterArr[0] = false;
      }
      });
      $( "#wardfocused" ).click(function() {
      if (filterArr[1] === false) {
      filterArr[1] = true;
      } else {
      filterArr[1] = false;
      }
      });

      // WHEN YOU FIRE THE SEARCH
      $("#search").click(function() {
      // ERASE THE PREV RESULT TEXT
      $('#resultList').text('');
      let actSubs = $("#activeSubstance :selected").text();
      actSubs = actSubs.match(/[A-Z][a-z]+/g);
      let ward = $("#ward :selected").text();
      ward = ward.match(/[A-Z][a-z]+/g);
      // CLEAR THE SEARCH OBJECT / ADD LIST PARAMETERS (ACTSUBS) FOR NEW SEARCH
      searchObj = {
        active_substance: actSubs,
        ward_focused: ward,
        others: []
      };
      // DESTROY ACTSUBS IF NONE IS SELECETED
      if (actSubs === null) {
      searchObj.active_substance = [];
      }
      // DESTROY WARD IF NONE IS SELECETED
      if (ward === null) {
      searchObj.ward_focused = [];
      }
      // MIRROR THE FULL DATA ON THE CONSOLE
      let myData = JSON.parse(dataReq.responseText);
      console.log(myData);
      // SET THE NEW SEARCH DATA ACCORDING TO THE FILTER DATA
      if (filterArr[0] === true) {
      searchObj[others] = "retrospective";
      } else {
      searchObj[others] = "not-retrospective";
      }

      if (filterArr[1] === true) {
      searchObj.others.push = "costSaving";
      } else {
      searchObj.others.push = "not-costSaving";  
      }
      
      const filterEngine = Object.values(searchObj).flat();

      const result = myData.filter(({filters}) => {
        const objFilters = Object.values(filters).flat();
        return filterEngine.every(val => objFilters.includes(val));
      })
      console.log(result);
      /*
      let resultLength = result.length;
      $("#resultText").html(`We have found ${resultLength} result(s)`);
      $('#resultRow').attr('style','display: default;');
      for (let key in result) {
      let value = result[key];
      console.log(value.title);
      }
      result.forEach(function(item) {
      var li = document.createElement("li");
      var text = `<a href='${item.url}' target='_blank'> ${item.title}</a>`;
      li.innerHTML = text;
      document.getElementById("resultList").appendChild(li);
      });
      */
      });

    script.
      /*
      const secilenFiltreler = {
        retrospective: [2],
        ward_focused: [],
        indication_focused: [],
        active_substance: []
      };

      const nesneler = [
        {
          title: "Cost-effectiveness of morphine versus fentanyl in managing ventilated neonates with respiratory distress syndrome in the intensive care setting",
          url: "https://ejhp.bmj.com/content/26/Suppl_1/A7.3",
          filters: {
            retrospective: [1],
            ward_focused: [1],
            indication_focused: [1],
            active_substance: ["Morphine", "Fentanyl"]
          }
        },
        {
          title: "Chemical risk assessement in a quality control laboratory by a tool using activity analysis",
          url: "https://ejhp.bmj.com/content/26/Suppl_1/A9.2",
          filters: {
            retrospective: [2],
            ward_focused: [2],
            indication_focused: [2],
            active_substance: [2]
          }
        },
        {
          title: "The economic burden of metastatic breast cancer in Spain",
          url: "https://ejhp.bmj.com/content/27/1/19",
          filters: {
            retrospective: [1],
            ward_focused: [1],
            indication_focused: [1],
            active_substance: [2]
          }
        },
        {
          title: "Real-world evidence of high-cost drugs for metastatic melanoma: effectiveness, compliance to clinical practice guidelines and economic evaluation",
          url: "https://ejhp.bmj.com/content/26/Suppl_1/A5.1",
          filters: {
            retrospective: [1],
            ward_focused: [2],
            indication_focused: [1],
            active_substance: [2]
          }
        },
        {
          title: "Real-world safety and tolerability of the recently commercialised palbociclib",
          url: "https://ejhp.bmj.com/content/26/Suppl_1/A223.2",
          filters: {
            retrospective: [2],
            ward_focused: [1],
            indication_focused: [2],
            active_substance: ["Palbociclib"]
          }
        }
      ];

      const filtreOku = Object.values(secilenFiltreler).flat();
      const cikti = nesneler.filter(({filters}) => {
          const objFilters = Object.values(filters).flat();
          return filtreOku.every(val => objFilters.includes(val));
      })
      console.log(cikti);
      */
    script.
      const selectedFilters = {
          active_substance: ["Fentanyl"],
          ward_focused: [],
          others: []
      };

      const items = [
      {
        name: "Cost-effectiveness of morphine versus fentanyl in managing ventilated neonates with respiratory distress syndrome in the intensive care setting",
        url: "https://ejhp.bmj.com/content/26/Suppl_1/A7.3",
        filters: {
          active_substance: ["Fentanyl", "Morphine"],
          ward_focused: ["Intensive Care"],
          others: ["retrospective", "costSaving"]
        }
      },
      {
        name: "Chemical risk assessement in a quality control laboratory by a tool using activity analysis",
        url: "https://ejhp.bmj.com/content/26/Suppl_1/A9.2",
        filters: {
          active_substance: [],
          ward_focused: [],
          others: ["retrospective"]
        }
      },
      {
        name: "The economic burden of metastatic breast cancer in Spain",
        url: "https://ejhp.bmj.com/content/27/1/19",
        filters: {
        active_substance: [],
        ward_focused: ["surgery"],
        others: ["costSaving"]
        }
      }
      ];

      const filterArr01 = Object.values(selectedFilters).flat();

      const output = items.filter(({filters}) => {
          const objFilters = Object.values(filters).flat();
          return filterArr01.every(val => objFilters.includes(val));
      })
      console.log(output);