<div class="collapsible-header" style="background-color: powderblue; margin-left: -1rem;">
    <form action="#" style="margin-top: 0.5rem;">
        <p>
            <label>
                <input type="checkbox" data-check="isChecked" class="filled-in" />
            <span>
            </span>
            </label>
        </p>
    </form>
    <p>
        <a style="color: blueviolet;"> ${item.title}. </a> ${item.filters.journal}, ${item.filters.year}
    </p>
</div>

<div class="collapsible-body" style="background-color: powderblue; margin-left: -1rem;">
    <span style="color: midnightblue;">${item.authors}</span>
    <br>
    <br>
    <span style="font-size: small; color: midnightblue;">${item.institution}
    </span>
    <br>
    <br>
    <div style="margin-top: 2rem;">
        <a href='${item.url}' target='_blank'>
            <i class="material-icons" style="margin-left: 0.5rem; vertical-align: sub; color: brown;">unarchive
            </i>
            <span style="color: brown;"> Open the Study
            </span></a>
        <div class="error" style="float: right; margin-right: 2rem;">
            <a>
                <i class="material-icons" style="margin-left: 0.5rem; vertical-align: sub; color: brown;">stars
                </i>
                <span style="color: brown; font-size: small;"> Report an Error
                </span>
            </a>
        </div>
    </div>
</div>