doctype html
html
    head
      // Import Google Icon Font
      link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
      // Compiled and minified CSS
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
      // My very own great CSS
      link(rel='stylesheet', href='css/style.css')
      // Let browser know website is optimized for mobile
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
      include includes/header.pug
      main
        .container
          .row#users
            // class="search" automagically makes an input a search field.
            input.search.col.s12(placeholder='Search')
            // class="sort" automagically makes an element a sort buttons. The date-sort value decides what to sort by.
            a.waves-effect.waves-light.btn-small.sort.col.s3(data-sort='name')
              | Sort by Name
            // class="sort" automagically makes an element a sort buttons. The date-sort value decides what to sort by.
            a.waves-effect.waves-light.btn-small.sort.col.s3.offset-s1(data-sort='year')
              | Sort by Year
            // Child elements of container with class="list" becomes list items
            ul.list.col.s12
              ul
                // The innerHTML of children with class="name" becomes this items "name" value
                h3.name 
                  a(href='') Jonny Stromberg
                p.year 1986
              ul
                h3.name 
                  a(href='') Jonas Arnkulnt
                p.year 1985
              ul
                h3.name 
                  a(href='') Martina Elm
                p.year 1986
              ul
                h3.name
                  a(href='') Gustaf ulndqvis
                p.year 1983
              ul
                h3.name
                  a(href='') Gustaf ulndqvi
                p.year 1983
              ul
                h3.name
                  a(href='') Gustaf ulndqv
                p.year 1983
              ul
                h3.name
                  a(href='') Gustaf ulndq
                p.year 1983
              ul
                h3.name
                  a(href='') Gustaf ulnd
                p.year 1983
              ul
                h3.name
                  a(href='') Gustaf uln
                p.year 1983
              ul
                h3.name
                  a(href='') Gustaf ulnzz
                p.year 1983
              ul
                h3.name
                  a(href='') Gustaf ulnss
                p.year 1983
              ul
                h3.name
                  a(href='') Gustaf ulnddd
                p.year 1983
              ul
                h3.name
                  a(href='') Gustaf ulnfff
                p.year 1983
              ul
                h3.name
                  a(href='') Gustaf Linggg
                p.year 1983
              ul.pagination
      include includes/footer.pug
    // Compiled and minified JavaScript
    script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
    script(src='js/jquery.paginate.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    // FUNDEMENTALS
    script.
      M.AutoInit();
      // GET JSON DATA
      var dataReq = new XMLHttpRequest();
      var url = "protected/data/data.json";
      dataReq.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
      console.log('Data loaded with success!');
      }
      };
      dataReq.open("GET", url, true);
      dataReq.send();
      // FOOTER SLIDING DATA
      $( "body" ).one('mouseover', function() {
        setTimeout(function() { 
        let slideData = JSON.parse(dataReq.responseText);
        let actLength = (($('#actSubs > option').length) - 1);
        let wardLength = (($('#ward > option').length) - 1);
        let countryLength = (($('#country > option').length) - 1);
        document.getElementById("slider").innerHTML = `${slideData.length} studies in our database are ready! With ${actLength} different active substances, ${wardLength} different ward options and among ${countryLength} countries; you may perform your search`;
        }, 500);
      });
      // LISTJS
      var options = {
        valueNames: [ 'name', 'year' ],
        page: 10,
        pagination: true
      };

      var listObj = new List('users', options);

