#resultList li {
    line-height: 150%;
}

#resultList a {
    color: midnightblue;
    font-size: 18px;
}

.collapsible.expandable {
    border-color: darkgrey;
}

.collapsible-body {
    padding: 1rem;
}


#search {
    background-color: royalblue;
}

.input-field.col label {
    color: darkslategray;
}