#resultList li {
    line-height: 150%;
}

#resultList a {
    color: midnightblue;
    font-size: 18px;
    font-weight: 500;
}

.collapsible.expandable {
    border-color: darkgrey;
}

.collapsible-body {
    padding: 1rem;
}


#search {
    background-color: royalblue;
}

.input-field.col label, .dropdown-content li > span {
    color: darkslategray;
}

#resultText {
    font-size: large;
    color: darkslategray;
    font-weight: bold;
}

.page-footer {
    background-color: royalblue;
    margin-top: 3rem;
    padding-top: 10px;
}

/* sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
/* sticky footer ends*/

.switch label {
    margin-top: 2rem;
    line-height: 2;
}

form.row {
    margin: 0rem;
}

div.input-field {
    margin-bottom: 1.5rem;
}

.row.switch {
    text-align: left;
    margin: 0rem;
}

#advSearch {
    margin-left: 25%;
}

@media only screen and (min-width: 500px) {
    #advSearch {
        margin-left: 35%;
    }
}

@media only screen and (min-width: 993px) {
    a.brand-logo {
        margin-left: 2rem;
    }

    #lefty {
        text-align: left;
    }

    #leverOne {
        margin-left: 0rem;
    }

    #leverThree {
        margin-left: 1rem;
    }

    form.row {
        margin: 1.5rem;
    }
}